charset-normalizer==2.1.1
colorama==0.4.5
deepspeech-tflite==0.9.3
docutils==0.19
halo==0.0.31
idna==3.3
Kivy==2.1.0
Kivy-Garden==0.1.5
log-symbols==0.0.14
numpy==1.21.6
PyAudio==0.2.12
Pygments==2.13.0
pyttsx3==2.90
requests==2.28.1
scipy==1.7.3
six==1.16.0
spinners==0.0.24
termcolor==1.1.0
tqdm @ file:///opt/conda/conda-bld/tqdm_1650891076910/work
urllib3==1.26.12
webrtcvad==2.0.10
